*{
  --bgClr:rgb(37, 37, 37);
  --fontClr:white;
  --textBoxClr:rgba(0, 0, 0, 0.677);
  --btnClr:rgba(128, 128, 128, 0.33);
  --btnHoverClr:rgba(128, 128, 128, 0.53);
  font-family:  Roboto,  sans-serif;
}

video {
  background-color: rgba(8, 8, 8, 0.662);
}

.container_pages {
  display: flex;
  background-color: rgb(19, 19, 19);
}

.container_pages2 {
  width: calc(100vw - 5rem);
  height: calc(100vh - 3.65rem);
  border-top: 2px solid rgba(128, 128, 128, 0.425);
  overflow-y: auto;
}

.video_box {
  width: fit-content;
  height: fit-content;
  margin: 0.2rem;
  border: 2px solid transparent;
}

.sidebar_on_nonSidebarPage {
  width: 15rem;
  height: calc(100vh - 3.5rem);
  position: absolute;
  z-index: 5;
}

.Chanel_logo_App {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 100%;
  background-color: rgb(214, 227, 214);
  display: flex;
}

.fstChar_logo_App {
  margin: auto;
  color: black;
  font-weight: bolder;
  cursor: pointer;
}
