.commentSubForm {
  display: flex;
  width: 70%;
}

.commentIBox {
  width: 80%;
  padding: 0.5%;
  padding-left: 2%;
  background-color: transparent;
  border: 0;
  color: wheat;
  border-bottom: 2px solid grey;
}

.commentAddBtn:hover {
    border: 2px solid rgb(64,64,64,0.05);
    border-bottom: 2px solid rgb(64,64,64);
    background-color: rgba(240, 248, 255, 0.05);
}
.commentAddBtn {
  cursor: pointer;
  border: 2px solid transparent;
  border-bottom: 2px solid rgb(64, 64, 64);
  background-color: transparent;
  color: aliceblue;
  font-size: large;
  width: 20%;
}

.userCommented {
  color: rgb(50, 50, 50);
  margin: 0;
}

.EditDel {
  padding: 0.2rem;
  margin: 0;
  margin-bottom: 0.8rem;
  color: rgba(44, 85, 209, 0.696);
  cursor: pointer;
}

.commentBdy {
  color: rgb(197, 197, 197);
  margin: 0;
  margin-top: 0.5rem;
}

.cmtCont {
  display: flex;
  width: 70%;
  border: 1px solid;
}
.displayComment_commentsPage {
  padding: 1rem;
}
