.det {
  margin: 0;
  display: flex;
  padding: 0.5rem;
  justify-content: space-around;
}

.box_WHL {
  /* border: 2px solid red; */
  width: 45%;
  padding: 0.8rem;
  margin: 0.8rem;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
    /* height: calc(100vh - 3rem); */
}
.whlList {
  overflow-y: auto;
}
.box_WHL b {
  font-size: 3rem;
}
.rightSide h1 {
  text-decoration: underline;
  color: aliceblue;
}

.clear_HistoryBtn:hover {
  color: ghostwhite;
}
.clear_HistoryBtn {
  color: grey;
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: bolder;
  margin: auto 0;
}
.leftside_whl {
  background-color: rgba(0, 0, 0, 0.153);
  height: 50vh;
}

.ViewedOn_history {
  font-size: small;
  padding: 0.2rem 3.5rem;
  color: rgba(229, 243, 167, 0.33);
}
@media (max-width:800px){
  .leftside_whl{
    display: none;
  }
}