.container_VideoPage {
  height: calc(100vh - 3.4rem);
  overflow-y: auto;
  background-color: rgb(11, 11, 11);
  color: white;
}
.container_VideoPage2 {
  margin: 1.5rem 4.5rem;
  display: flex;
  /* border: 1px solid red; */
}
.video_diplay_screen_VideoPage {
  width: calc(100vw - 4.5rem - 35vw);
  /* border: 1px solid red; */
  padding-right: 1rem;
}
.moreVideoBAr {
  width: calc(100vw - 4.5rem - 70vw);
  padding: 0 1rem;
}

.video_ShowVideo_VideoPage {
  padding: 0.1rem;
  height: 70vh;
  width: 100%;
  background-color: black;
  border: 1px solid rgba(37, 37, 37, 0.2);
}
.video_tittle_like_watchlater_cont {
  /* border: 2px solid red; */
  border-bottom: 3px solid rgba(245, 222, 179, 0.175);
  margin: 0;
  /* font-weight: bold; */
  /* font-size: x-large;
  padding: 0.8rem; */
  flex-grow: 1;
}
.video_titile_videopage {
  font-size: x-large;
  margin: 0;
  padding: 1rem 0.8rem;
}
.videoPage_vies_date_btns{
  display: flex;
  margin: 0.5rem 1rem ;
  width: calc(100vw - 6.5rem - 35vw);  
}

.views_videopage {
  font-size: 0.8rem;
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.chanel_details_videoPage {
  border-bottom: 3px solid rgba(245, 222, 179, 0.175);
  display: flex;
  text-decoration: none;
  color: aliceblue;
  font-weight: bolder;
}
.chanel_logo_videPage p {
  color: black;
  margin: auto;
  font-size: xx-large;
}
.chanel_logo_videPage {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.119);
  width: 4rem;
  height: 4rem;
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 0.673);
  border-radius: 100%;
}
.chanel_name_videPage {
  font-weight: bolder;
  margin: auto 1rem;
  font-size: larger;
}

.comments_videoPage {
  width: 100%;
  padding: 0.5rem;
}

@media (max-width: 1500px) {
  .video_ShowVideo_VideoPage {
    height: 60vh;
  }
}
@media (max-width: 1250px) {
  .video_ShowVideo_VideoPage {
    height: 50vh;
  }
  .moreVideoBAr{
    display: none;
  }
  .video_diplay_screen_VideoPage ,.videoPage_vies_date_btns{
    width: 100%;
  }
}
@media (max-width: 800px) {
  .container_VideoPage2 {
    margin: 0.5rem;
  }
}
@media (max-width: 650px) {
  .video_ShowVideo_VideoPage {
    height: 40vh;
  }
  .videoPage_vies_date_btns{
    flex-direction: column;
  }

}

/* 
    width: 60vw;
    height: 60vh;
  }

  .video_details_VideoPage {
    width: 60vw;
  }
}
@media (max-width: 900px) {
  .moreVideoBAr {
    display: none;
  }
  .video_ShowVideo_VideoPage {
    width: calc(100% - 0.8rem);
    height: 60%;
  }

  .video_details_VideoPage {
    width: calc(100% - 0.8rem);
  }
}
@media (max-width: 600px) {
  .video_ShowVideo_VideoPage {
    height: 40%;
  }
}

@media (max-width: 520px) {
  .views_videopage,
  .like_videopage {
    flex-wrap: wrap;
    justify-content: center;
    font-size: 0.7rem;
     }
  .comments_videoPage {
    width: 90vw;
  }
} */
