.webView{
    margin: auto;
    flex-grow: 1;
}
.search_div {
  margin: auto;
  display: flex;
  height: 2rem;
}
.search_div2 {
  display: flex;
  margin: auto;
  position: relative;
  z-index: 91;
}

.Search_Navbar {
  background-color: var(--textBoxClr);
  width: 30rem;
  border: 1px solid rgba(128, 128, 128, 0.452);
  color: white;
  font-size: large;
  padding: 0.2rem;
  height: 2rem;
  padding-left: 2rem;
}

.searchIcon_Navbar:hover {
  background-color: var(--btnHoverClr);
}

.searchIcon_Navbar {
  cursor: pointer;
  padding: 0.75rem;
  width: 2rem;
  border-radius: 0.1rem;
  background-color: var(--btnClr);
  color: aliceblue;
}

.searchBar_Navbar_Mobile {
  background-color: rgb(26, 25, 25);
  position: absolute;
  width: 100vw;
  height: calc(3rem - 2px);
  top: 0;
  left: 0;
  display: none;
  padding: 0.3rem;
}
.Search_Navbar_Mobile {
  height: 1.6rem;
  border-radius: 5px;
  padding-left: 1%;
  width: 79%;
}

.Mobile {
  display: none;
}
.webview {
  display: block;
}

@media (max-width: 1050px) {
  .Search_Navbar {
    width: 100%;
  }
}
@media (max-width: 638px) {
  .Search_Navbar_Mobile {
    display: flex;
  }
  /* .Search_Navbar,
  .mic_Navbar,
  .searchIcon_Navbar {
    display: none;
  } */
  .webView {
    display: none;
  }
  .Mobile {
    display: block;
  }
}
