.container_SearchList {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(240, 248, 255, 0.296);
  z-index: 90;
}

.container_SearchList2 {
  background-color: white;
  /* flex-grow: 1; */
  min-width: 30rem;
  top: 2.7rem;
  height: fit-content;
  z-index: 91;
  position: absolute;
}

.titleItem {
  margin: 0;
  padding: 0.5rem;
  cursor: pointer;
}
.titleItem:hover {
  background-color: rgba(166, 202, 234, 0.516);
}
