.burger_logo {
  display: flex;
  /* flex-grow: ; */
  height: 3rem;
  margin: auto;
}

.logo_Navbar p {
  margin: auto;
  color: var(--fontClr);
  font-weight: bold;
}

.logo_Navbar {
  display: flex;
  text-decoration: none;
}

.container_Navbar {
  display: flex;
  justify-content: space-between;
  height: calc(3.5rem - 2px);
  background-color: var(--bgClr);
}

.search_div {
  margin: auto 1rem;
  display: flex;
  height: 2rem;
  flex-grow: 1;
  /* align-items: center; */
}
.search_div2 {
  display: flex;
  margin: auto;
}

.Search_Navbar {
  background-color: var(--textBoxClr);
  width: 30rem;
  border: 1px solid rgba(128, 128, 128, 0.452);
  color: white;
  font-size: large;
  padding: 0.2rem;
  height: 2rem;
  padding-left: 2rem;
}

.searchIcon_Navbar:hover {
  background-color: var(--btnHoverClr);
}

.searchIcon_Navbar {
  cursor: pointer;
  padding: 0.75rem;
  width: 2rem;
  border-radius: 0.1rem;
  background-color: var(--btnClr);
  color: aliceblue;
}

.burger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  justify-content: space-evenly;
  margin: 0.2rem;
  padding: 0.5rem;
  border: 1px solid transparent;
  margin-left: 0.5rem;
  margin-right: 0.7rem;
  border-radius: 100%;
}

.burger:active {
  border: 1px solid rgba(255, 255, 255, 0.781);
}

.burger p {
  margin: 0.5px;
  width: 1.2rem;
  height: 0.1rem;
  background-color: rgba(255, 255, 255, 0.781);
}

.Auth_Btn {
  cursor: pointer;
  margin: auto;
  padding: 0.5rem;
  color: #3ea6ff;
  background-color: rgb(36, 36, 36);
  border-radius: 0.5rem;
  border: 2px solid;
}
.Auth_Btn:hover {
  color: rgb(33, 111, 237);
}
.Auth_Conatiner_navbar {
  width: fit-content;
  margin: auto 0.5rem;
  display: flex;
}
.mic_Navbar {
  border-radius: 100%;
  padding: 0.5rem;
  background-color: var(--textBoxClr);
}
.mic_Navbar,
.vid_bell_Navbar {
  color: whitesmoke;
  margin: auto 0.7rem;
}
.box_apps {
  /* border: 1px solid white; */
  width: 25px;
  margin: auto 0.7rem;

  height: 25px;
  grid-row: 3;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.searchBar_Navbar_Mobile {
  background-color: rgb(26, 25, 25);
  position: absolute;
  width: 100vw;
  height: calc(3rem - 2px);
  top: 0;
  left: 0;
  display: none;
  padding: 0.3rem;
}
.Search_Navbar_Mobile {
  height: 1.6rem;
  border-radius: 5px;
  padding-left: 1%;
  width: 79%;
}
.box_app {
  border: 1px solid white;
  margin: 0.1rem;
  width: 2px;
  height: 2px;
}
.X_SEacrbar_mobile {
  color: white;
  margin: auto 1rem;
  font-size: x-large;
  font-weight: bolder;
}
.Mobile {
  display: none;
}

@media (max-width: 1050px) {

  .Search_Navbar {
    width: 100%;
  }
}
@media (max-width: 777px) {
  .Auth_Btn b,
  .logo_Navbar p {
    display: none;
  }
  
  /* .Auth_Conatiner_navbar{
    w;
  } */
}
@media (max-width: 598px) {
  .Search_Navbar_Mobile {
    display: flex;
  }
  .Search_Navbar,
  .mic_Navbar,
  .searchIcon_Navbar {
    display: none;
  }
  .Mobile {
    display: block;
  }
}
